In [1]:
import pandas as pd
people={
    'first':['corey','jane','john'],
    'last':['schafer','doe','doe'],
     'email':['coreyschefar@gmail.com','janedoe@gmail.com','johndoe@gmail.com']
    
    
}
df=pd.DataFrame(people)

In [3]:
df

   first     last                   email
0  corey  schafer  coreyschefar@gmail.com
1   jane      doe       janedoe@gmail.com
2   john      doe       johndoe@gmail.com

In [8]:
#it will return only the bool values series with indexes
df['last']=='deo'

0    False
1    False
2    False
Name: last, dtype: bool

In [9]:
#but know i want to convert this values into dataframe i will do two ways
#first convert this boolen values into arraysa and then into data frame
df[pd.array(df['last']=='doe')]

  first last              email
1  jane  doe  janedoe@gmail.com
2  john  doe  johndoe@gmail.com

In [12]:
#store the boolen values series into varibles and then  into data frame
filt=(df['last']=='doe')
df[filt]

  first last              email
1  jane  doe  janedoe@gmail.com
2  john  doe  johndoe@gmail.com

In [36]:
filt=((df['last']=='doe') & (df['first']=='john'))
df[filt]

  first last              email
2  john  doe  johndoe@gmail.com

In [42]:
df.iloc[]

first                     corey
last                    schafer
email    coreyschefar@gmail.com
Name: 0, dtype: object