In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('C:\\Users\Muhammad junaid\OneDrive\Desktop\Data.csv')

In [3]:
data.isna().sum()
mean=data['Age'].mean()
mean1=data['Salary'].mean()

In [4]:
data['Age'].fillna(mean,inplace=True)
data['Salary'].fillna(mean1,inplace=True)

In [5]:
data

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

In [6]:
data.isna().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

In [7]:
data.head()

   Country   Age        Salary Purchased
0   France  44.0  72000.000000        No
1    Spain  27.0  48000.000000       Yes
2  Germany  30.0  54000.000000        No
3    Spain  38.0  61000.000000        No
4  Germany  40.0  63777.777778       Yes

In [8]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [9]:
label=LabelEncoder()
#data.iloc[:,0]=label.fit_transform(data.iloc[:,0])
data

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

In [10]:
x=data.iloc[:,0]
hot=OneHotEncoder()
k=hot.fit_transform(data[['Country']])

In [11]:
type(k)

scipy.sparse.csr.csr_matrix

In [12]:
pd.DataFrame(k.toarray(),dtype=int)

   0  1  2
0  1  0  0
1  0  0  1
2  0  1  0
3  0  0  1
4  0  1  0
5  1  0  0
6  0  0  1
7  1  0  0
8  0  1  0
9  1  0  0

In [13]:
x=data.drop(['Purchased'],axis=1)
y=data['Purchased']
catg=x.filter(['Country'])
numerical=x.filter(['Age','Salary'])
catg

   Country
0   France
1    Spain
2  Germany
3    Spain
4  Germany
5   France
6    Spain
7   France
8  Germany
9   France

In [14]:
categ=pd.get_dummies(catg,drop_first=True)

In [15]:
x=pd.concat([numerical,categ],axis=1)
y=pd.get_dummies(y,drop_first=True)

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

In [17]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [35]:
from sklearn.linear_model import LogisticRegression
rog=LogisticRegression()

In [39]:
rog.fit(x_train,y_train.values.ravel())

LogisticRegression()

In [40]:
pred=rog.predict(x_test)
pred

array([1, 1], dtype=uint8)

In [43]:
from sklearn.metrics import mean_absolute_error,mean_squared_error
print(mean_absolute_error(y_test,pred)*100)
print(mean_squared_error(pred,y_test))

100.0
1.0