In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
wine=pd.read_csv('F:\jupyter\wine.csv')

In [3]:
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
from sklearn.feature_selection import VarianceThreshold
wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [5]:
#divide data into feature and label mean (input and output)
features=wine.drop(['quality'],axis=1)

In [6]:
labels=wine.filter(['quality'],axis=1)

In [7]:
features.var()

fixed acidity              3.031416
volatile acidity           0.032062
citric acid                0.037947
residual sugar             1.987897
chlorides                  0.002215
free sulfur dioxide      109.414884
total sulfur dioxide    1082.102373
density                    0.000004
pH                         0.023835
sulphates                  0.028733
alcohol                    1.135647
dtype: float64

In [8]:
var_sl=VarianceThreshold(threshold=0.1)
var_sl.fit(features)

VarianceThreshold(threshold=0.1)

In [9]:
attributes_retain=features.columns[var_sl.get_support()]
attributes_retain

Index(['fixed acidity', 'residual sugar', 'free sulfur dioxide',
       'total sulfur dioxide', 'alcohol'],
      dtype='object')

In [10]:
attributes_filter=[attar for attar in features.columns if attar not in 
                   features.columns[var_sl.get_support()]]

In [11]:
attributes_filter

['volatile acidity', 'citric acid', 'chlorides', 'density', 'pH', 'sulphates']

In [12]:
filter_datasets=features.drop(attributes_filter,axis=1)

In [13]:
filter_datasets

,fixed acidity,residual sugar,free sulfur dioxide,total sulfur dioxide,alcohol
0,7.4,1.9,11.0,34.0,9.4
1,7.8,2.6,25.0,67.0,9.8
2,7.8,2.3,15.0,54.0,9.8
3,11.2,1.9,17.0,60.0,9.8
4,7.4,1.9,11.0,34.0,9.4
...,...,...,...,...,...
1594,6.2,2.0,32.0,44.0,10.5
1595,5.9,2.2,39.0,51.0,11.2
1596,6.3,2.3,29.0,40.0,11.0
1597,5.9,2.0,32.0,44.0,10.2
1598,6.0,3.6,18.0,42.0,11.0

In [14]:
data={ 'A':[1,3,5,6,0],
       'B':[1,2,4,8,9],
       'C':[0,0,0,0,0],
       'D':[1,1,1,1,1]}
data=pd.DataFrame(data)

In [15]:
data.var()
data.shape

(5, 4)

In [16]:
feature=data.drop(['D'],axis=1)
feature

   A  B  C
0  1  1  0
1  3  2  0
2  5  4  0
3  6  8  0
4  0  9  0

In [17]:
label=data[['D']]
label

   D
0  1
1  1
2  1
3  1
4  1

In [18]:
val=VarianceThreshold(threshold=0.2)

In [19]:
val.fit(feature)

VarianceThreshold(threshold=0.2)

In [20]:
retain=feature.columns[val.get_support()]
retain

Index(['A', 'B'], dtype='object')

In [21]:
remove=[attar for attar in feature.columns if attar not in feature.columns[val.get_support()]]

In [22]:
remove

['C']

In [23]:
filter_datasets=feature.drop(remove,axis=1)
filter_datasets

   A  B
0  1  1
1  3  2
2  5  4
3  6  8
4  0  9

KeyError: "None of [Index(['quantity'], dtype='object')] are in the [columns]"